[submodule "basix"]
	path = basix
	url = https://github.com/FEniCS/basix.git
[submodule "dolfinx"]
	path = dolfinx
	url = https://github.com/FEniCS/dolfinx.git
[submodule "ffcx"]
	path = ffcx
	url = https://github.com/FEniCS/ffcx.git
[submodule "ufl"]
	path = ufl
	url = https://github.com/FEniCS/ufl.git
[submodule "xtensor"]
	path = xtensor
	url = https://github.com/xtensor-stack/xtensor.git
[submodule "xtl"]
	path = xtl
	url = https://github.com/xtensor-stack/xtl.git
